<!DOCTYPE html>
<html>
    <head>
        <title> Make your url short and beautiful | Shortify </title>
        <meta charset="utf-8">
        <meta name="keyword" content="url shortener, shortify, url short, link shorter">
        <meta name="decription" content="Shortify makes your url short and beautiful">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
        <link rel="stylesheet" href="/css/shortify.css">
    </head>
    <body>
        <div class="shortify"><!-- shortify -->
          <h1>Shortify</h1>
          <h3>Make your url short and beautiful</h3>
          <div class="shortify-area"><!-- shortify-area -->
            <form action="/" method="post" id="shortifyBtn">
              <input type="text" id="uglyUrl" name="uglyUrl" placeholder="Probably ugly url .." autofocus/>
              <button type="submit" >Shortify</button>
            </form>
          </div><!-- shortify-area -->
        <div class="shorten-area animated">
          <h2 id="shorten-url">https://shortify.tk/okff</h2>
          <button type="button" id="copy">Copy</button>
        </div>
        <p>
          Developed by <a href="https://rameshsyangtan.com.np/">Ramesh syangtan</a>
        </p>
      </div><!-- shortify -->

        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
        <script type="text/javascript" src="/js/shortify.js"></script>
    </body>
  </html>
